
/*LOADER*/

@keyframes bounce {
  
  from {
    transform: translateY(0);
  }
  
  to {
    transform: translateY(-2rem); 
  }
}
  
@keyframes loading {
  
  0% {
    visibility: visible;
  }
  
  100% {
    visibility: hidden;
  }
}

/*RESTAURANTS MENUS APPEARANCE*/

@keyframes menus-appearance {
  
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
    visibility: visible;
  }
}
