
/*GENERAL*/

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: var(--font-family-text);
  color: var(--text-a);
  font-size: 1.6rem;
}

p {
  margin: 1rem 0;
}

a {
  color: var(--text-a);
  text-decoration: none;
}

h2 {
  padding: 2rem;
  font-size: 2.8rem;
}

h4 {
  font-weight: bold;
}

span {
  font-weight: 300;
}

li {
 list-style: none;
}

/*RESTAURANTS MENUS UNDERLINE*/

hr {
  width: 4.5rem;
  height: 0.3rem;
  background-color: var(--tertiary);
  border-color:var(--tertiary);
  border-style: none;
}

/*BUTTON ORDER, BUTTON EXPLORE*/

button, 
.explore {
  height: 5rem;
  width: 20rem;
  background: var(--pink-purple);
  border-radius: 3rem;
  color: var(--text-b);
  text-decoration: none;
  outline: none;
  border: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 1.5rem;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  box-shadow: var(--shadow);
}

button:hover,
.explore:hover {
  opacity: 0.9;
  transition-duration: 0.4s;
  box-shadow: 0 0.5rem  0.5rem #bababa;
}

/*"NEW" STICKERS*/

.new-sticker {
  display:flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
  width: 8rem;
  height: 3rem;
  background: var(--tertiary);
  text-align: center;
  color: #269b7e;
  border-radius: 0.5rem;  
  position: relative;
  bottom: 25.5rem;
  right: -75%;
}

/*HEARTS FONTE AWESOME*/

.heart {
  font-size:3rem;
  display:flex;
  justify-content: center;
  align-items: center;
  width: 0;

  :nth-child(2) {
    position: relative;
    left:-3rem;
    background: -webkit-gradient(linear, left top, left  bottom , from( #9356dc), to( #ff79da));
  	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0;
  }

    :nth-child(2):hover {
    opacity: 1;
    transition: 0.4s;
    transform: scale(1.09)
  }
}
