
/*RESTAURANTS PAGES*/

/*HEADER*/

nav {
  flex-flow: row-reverse wrap;
  padding-right: 2.6rem;
  background: #fff;
    
  a {
    align-self: center;
    font-size: 3rem;
    justify-content: flex-end;
  }
}

.teaser-picture {
  height: 50vh;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

/*MAIN*/

.restaurants-mid-page {
  background: var(--background);
  border-radius: 2rem 2rem 0 0;
  max-width: 140rem;
  margin: auto;
  margin-top: -4vh;
    
  h2 {  
    font-family: var(--font-family-title);
    font-weight: 300;
    border-radius: 3rem 3rem;
  }
   
  .heart {
    margin-left: 5rem;
    cursor: pointer;
  }
}   


.btn-order {
  padding-bottom: 2rem;
}

    
.menu-contenair {
  background: var(--background);
  
  ul {
    flex-flow: column wrap;
    align-content: space-around;
    margin: auto;
    flex-grow: 1;
    padding-bottom: 5rem;
  }
  
  li {
    transition-property: width;
    transition-duration: 2s;
    justify-content: space-between;
    background: #fff;
    border-radius: 2rem;
    margin: 2rem 0rem;
    padding-left: 2rem;
    margin-bottom: 2rem;
    width: 32rem;
    height: 7rem;
    overflow: hidden;
    box-shadow: var(--shadow);
    cursor: pointer; 
  }
  
  li:hover {
       
    .check-contenair {  
      width: 10rem;            
    }  

    .fa-check-circle {
      transform: rotate(360deg);
    }           
  }
    
  h3 {
    font-weight: 300;
  }
}  
  
.entrances-contenair,
.dishes-contenair,
.desserts-contenair {
  visibility: hidden;
  animation-name: menus-appearance;
  animation-timing-function: linear;
  animation-duration: 0.6s;
  animation-fill-mode: forwards;
  padding: 0rem 1rem;
}

.dishes-contenair {
  animation-delay: 0.5s;
}

.desserts-contenair {
  animation-delay: 1s;
}

.food-blocks {
  height: 7rem;
  width: 32rem;
  justify-content: space-between;
  border-radius: 2rem;
  background: #fff;   
               
  h4 {
    font-size: 1.5rem;
  }          
  span {
    font-size: 1.4rem;
  }
}
  
.food-blocks, 
h4 {      
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
      
.food-price {
  align-self: center;
  font-weight: bold;
  padding-right: 1rem;
}
  
.check-contenair {
  width: 0rem;
  background-color: var(--tertiary);
  height: 7rem;
  transition: width 0.6s;
}
  
.fa-check-circle {
  transition:transform 0.6s;  
  font-size: 2rem;       
  color: #fff;
}
