body {
  --font-family-text: "Roboto", sans-serif;
  --font-family-title: "Shrikhand", cursive;
  --primary: #9356dc;
  --primary-light: #eed8fd;
  --secondary: #ff79da;
  --tertiary: #99E2D0;
  --text-a: #333;
  --text-b: #ffffff;
  --background: #f2f2f2;
  --grey-crocodile: #e5e5e5;
  --shadow: 0 0.5rem 0.5rem #d8d8d8;
  --pink-purple: -webkit-gradient(linear, left top, left  bottom , from(#ff79da), to( #9356dc));
}
