
@import "animations";
@import "reset";
@import "variables";
@import "base";
@import "loader";
@import "restaurants-pages";

/*HEADER*/

header {
  flex-direction: column;
  width: 100%;

  h1 {
    padding: 2rem;
    margin: 0;
  }
}

.location {
  background: #e5e5e5;
  box-shadow: var(--shadow);
  padding: 2rem;
}

.search-bar {
  padding-left:2rem;

  input {
    width: 17rem;
    outline-style: none;
    border: none;
    background: #e5e5e5;
    font-size: 2rem;
    font-weight: bold;
  }

  input::placeholder { 
    color: #333;
  }

  .fa-map-marker-alt {
    font-size: 3rem;
    padding-right: 1rem;
  }

  span {
    position:relative;
    font-size: 2rem;
    font-weight: 700;
    padding-left: 1rem;
  }
}

.teaser {
  flex-direction: column;
  min-height: 250px;
  width: 100%;
  padding-top: 3rem;
  background: var(--background);

    h2 {
      font-weight: 900;
    }

    h3 {
      font-size: 1.8rem;
      font-weight: 300;
    }
    
    a {
      padding-top: 1.5rem;
    }
}

/*MAIN*/

.functionning-blocks {
  align-content: space-around;
  padding: 2rem;
  flex-grow: 1;
  margin: 0rem 2rem;
  
  strong,
  i {
    padding-left: 2.5rem;
    }

  i {
    font-size: 2rem;
  }
}

.blocks {
  justify-content: flex-start;
  background: var(--background);
  margin-bottom: 2rem;
  min-width: 33rem;
  height: 6rem;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  box-shadow: var(--shadow);
}

.blocks:hover {
  background: var(--primary-light);
  transition: 0.4s;
    
  i {
    color: var(--primary);
    transition: 0.4s;
  }
}

.circle {
  width: 30px;
  height: 30px;
  border-radius: 20px;
  background: var(--primary);
  color: var(--text-b);
  position: relative;
  left: -1rem;
  vertical-align: center;
  font-size: 2.2rem;
}

.choose {
  strong {
    margin-left: 1.1rem;
  }
}

.compose {
  strong {
    margin-left: 0.4rem;
  }
}

.taste {
  strong {
    padding-right: 0.3rem;
  }
}

.restaurants-contenair {
  background: var(--background);
  height: auto;
  padding-bottom: 50px;
}

.restaurants-cards {
  height: auto;

  a {
    overflow: hidden;
    width: 60rem;
    max-height: 25rem;
    border-radius: 2rem;
    background: white;
    margin: 2rem 2rem;
    box-shadow: var(--shadow);
  }
  
  h3 {
    font-size: 1.6rem;
    padding-left: 2rem;
    padding-top: 1rem;
  }

  img {
    width: 100%;
    height: 18rem;
    border-radius: 2rem 2rem 0 0;
    object-fit: cover;
  }

  span {
    display: block;
  } 

  span,
  h4 {
    margin-left: 2rem;
  }           
}

.heart-card {
  position: relative;
  bottom: 3.5rem;
  border: 0rem;
  right: -95%;
}

/*FOOTER*/

footer {
  background:#333;
  color: var(--text-b);
  height: auto;
  width: 100%;

  ul {
    width: 100%;
    flex-flow: column wrap;
    margin-left: 10%;
  }

  h4 {
    font-family: var(--font-family-title);
    font-size: 2rem;
    font-weight: 300;
  }

  i {
    padding-right: 1rem;
  }

  a {
    display: block;
    color: var(--text-b);
    width: max-content;
    margin: 1rem 0rem;
  }

  a:hover {
    text-decoration: underline;
    overflow: hidden;
  }
}

/*MEDIAS QUERIES*/

@media screen and (min-width: 640px) {
  
  .new-sticker {
    right: -81%;
  }
}

@media screen and (min-width: 992px) {

  footer {
    height: 8rem;

    ul {
     flex-flow: row wrap;
     margin-left: 0;
   }
  }
}
