:root {
  --font-family-text: "Roboto", sans-serif;
  --font-family-title: "Shrikhand", cursive;
  --primary: #9356dc;
  --secondary: #ff79da;
  --tertiary: #99e2d0;
  --text-a: #333;
  --text-b: #ffffff;
  --background: #f2f2f2;
  --grey-crocodile: #e5e5e5;
  --shadow: 0 -0.5rem 0.5rem #d8d8d8;
}
