@import "reset";
@import "base";
@import "variables";

header {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  height: 150px;
  h1 {
    padding: 2rem;
    text-align: center;
    margin: 0;
    img {
      padding-top: 1rem;
      width: 20rem;
    }
  }
  .where {
    padding: 2rem;
    font-size: 2rem;
    height: 8rem;
    background: #e5e5e5;
    font-weight: 700;
    box-shadow: var(--shadow);
    i {
      margin-right: 1rem;
    }
  }
}
main {
  .teaser {
    height: 240px;
    padding-top: 3rem;
    text-align: center;
    background: var(--background);
    h2 {
      font-weight: 900;
    }
    h3 {
      font-weight: 300;
    }
    button {
      height: 5rem;
      width: 20rem;
      background: linear-gradient(var(--secondary) 5%, var(--primary));
      border-radius: 3rem;
      color: var(--text-b);
      text-decoration: none;
      outline: none;
      border: none;
      cursor: pointer;
      font-weight: 700;
      font-size: 1.5rem;
      margin-top: 1.5rem;
    }
  }
  .functionning-contenair {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    align-items: center;
    padding-bottom: 2rem;
    h2 {
      position: relative;
      left: -7rem;
    }
    .block {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      background: var(--background);
      margin-bottom: 2rem;
      width: 30rem;
      height: 6rem;
      border: none;
      border-radius: 3rem;
      text-align: center;
      cursor: pointer;
      box-shadow: var(--shadow);
      h3 {
        padding-left: 3rem;
        margin: 0;
      }
      i {
        padding-left: 1.5rem;
        font-size: 2rem;
      }
    }
    .circle {
      width: 30px;
      height: 30px;
      border-radius: 20px;
      background: var(--primary);
      color: var(--text-b);
      position: relative;
      left: -1rem;
      vertical-align: center;
      font-size: 2.2rem;
    }
    .choose {
      h3 {
        padding-left: rem;
      }
    }
    .compose {
      h3 {
        padding-left: rem;
      }
    }
    .taste {
      h3 {
      }
    }
  }
  .restaurants-contenair {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: var(--background);
    h2 {
      position: relative;
      left: -9rem;
    }
    figure {
      width: 30rem;
      height: 25rem;
      border-radius: 2rem;
      border: 0.1rem solid;
      img {
        width: 30rem;
        height: 18rem;
        border-radius: 2rem 2rem 0 0;
        object-fit: cover;
      }
    }
  }
}
