.functionning-blocks {
  li:hover {
    background: var(--primary-light);
    transition: 0.2s;
  }
}

/*heart fonteawesome*/
.heart{
font-size:3rem;
  display: inline-block;
  .fa-heart-border{
    font-size: 2.9rem;
    opacity:1;
  }
	.fa-heart-gradient{
    position: relative;
    left:-3.1rem;
    
    background: -webkit-gradient(linear, left top, left  bottom , from( #9356dc), to( #ff79da));
  	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0;
  }
  .fa-heart-border:hover{
    color:transparent;
    -webkit-text-fill-color: transparent;
  }
  .fa-heart-gradient:hover{
    opacity: 1;
    transition: 0.4s;
  }
}