.restaurants-top-page{  

    nav{
      display:flex;
      flex-flow:row-reverse wrap;
      justify-content: center;
      padding-right:2.6rem;
  
      a{
        align-self: center;
        font-size: 3rem;
        justify-content: flex-end;
      }
    }
    .teaser-picture{
      min-height: 50vh;
      width: 100%;
      object-fit: cover;
      z-index: -1;
    }
  }
  .restaurants-mid-page{
    background: var(--background);
    border-radius: 2rem 2rem 0 0;
    max-width: 140rem;
    margin: auto;
    margin-top: 38vh;

    .mid-page-title{
      display: flex;
      flex-direction: row;
      justify-content: center;
      text-align: center;
  
      .heart {
        margin-left:5rem;
        cursor: pointer;
      }
  
      h2{  
      font-family: var(--font-family-title);
      font-weight: 300;
      border-radius: 3rem 3rem;
      }
    }
  
    .btn-order{
      display: flex;
      justify-content: center;
      padding-bottom: 2rem;
    }
  }
    

  .menu-contenair{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    background: var(--background);

    .entrances-contenair,
    .dishes-contenair,
    .desserts-contenair
     {
      visibility: hidden;
      animation-name: menus-apparition;
      animation-timing-function: linear;
      animation-duration: 0.6s;
      animation-fill-mode: forwards;
    }


    .dishes-contenair{
      animation-delay: 0.5s;
    }

    .desserts-contenair{
      animation-delay: 1s;
    }

    h3{
      font-weight: 300;
    }
  
    ul{
      display: flex;
      flex-flow: column wrap;
      align-content: space-around;
      margin: auto;
      flex-grow: 1;
      padding-bottom: 5rem;
  
        a{
        display: flex;
        flex-flow: nowrap;
        justify-content:space-between;
        background: #fff;
        border-radius: 2rem;
        margin:2rem 0rem;
        padding-left: 2rem;
        margin-bottom: 2rem;
        width: 32rem;
        height: 7rem;

          .fa-check-circle{
            display: none;
          }

          .food-price{
            align-self: center;
            font-weight: bold;
            padding-right: 1rem;         
          }
  
          .food-blocks{
            height: 7rem;
            width: 32rem;
            display: flex;
            flex-flow: row nowrap;
            align-self: center;
            justify-content: space-between;
            align-items: center;
            border-radius: 2rem;
            background: #fff;
            
            
            h4{
              font-size: 1.5rem;

              .food-info{
              font-size: 1.4rem;
            }
          }                           
        }
      }
  
      a:hover{
        overflow: hidden;

      .food-blocks, h4{      
        text-overflow:ellipsis;
        white-space: nowrap;
        overflow: hidden;
        }
       
        .check-contenair{      
          background-color: var(--tertiary);
          display: flex;
          align-items: center;
          justify-content: center;
          width: 10rem;
          animation-name: check-contenair-load;
          animation-direction:  normal, reverse;
          animation-timing-function: linear;
          overflow: hidden;
          animation-duration: 0.4s;
        }  
          .fa-check-circle{
            font-size: 2rem;
            display: flex;
            background-color: var(--tertiary);
            align-items: center;
            justify-content: center;
            color: #fff;
            overflow: hidden;
            animation-name: check-circle-rotate;
            animation-duration: 0.4s;
            animation-direction:  normal, reverse;
            animation-timing-function: linear;
            background:transparent;
          }
        
      
      }
    }
  }