@import "reset";
@import "base";
@import "variables";
@import "animations";
@import "medias";
@import "loader";
@import "restaurants-pages";

/*index.html*/

header {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  height: 150px;

  h1 {
    padding: 2rem;
    text-align: center;
    margin: 0;

    img {
      padding-top: 1rem;
      width: 20rem;
    }
  }
  
  .where {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background: #e5e5e5;
    box-shadow: var(--shadow);

    .fa-map-marker-alt{
      font-size: 3rem;
      padding-right:1rem;
    }

    span{
      position:relative;
      font-size: 2rem;
      font-weight: 700;
      padding-left:1rem;
    }
  }
}
main {
  
  .teaser {
    min-height: 250px;
    width: 100%;
    padding-top: 3rem;
    text-align: center;
    background: var(--background);

    h2 {
      font-weight: 900;
    }

    h3 {
      font-size: 1.8rem;
      font-weight: 300;
    }   
  }
  .functionning-contenair {

    h2 {
      align-items: center;
      text-align: center;
    }

    .functionning-blocks {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
      align-content: space-around;
      align-items: center;
      padding: 2rem;
      flex-grow:1;
      margin:0rem 2rem;

    }

    .blocks {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      background: var(--background);
      margin-bottom: 2rem;
      min-width: 33rem;
      height: 6rem;
      border: none;
      border-radius: 2rem;
      text-align: center;
      cursor: pointer;
      box-shadow: var(--shadow);
    }

      h3,i{
        padding-left: 2.5rem;
      }

      i {
        font-size: 2rem;
      } 



    .circle {
      width: 30px;
      height: 30px;
      border-radius: 20px;
      background: var(--primary);
      color: var(--text-b);
      position: relative;
      left: -1rem;
      vertical-align: center;
      font-size: 2.2rem;
    }

    .choose {
      h3 {
        margin-left: 1rem;
      }
    }

    .compose {
      h3 {
        margin-left: 0.4rem;
      }
    }

    .taste {
      h3 {
        padding-right: 0.3rem;
      }
    }
  }

  .restaurants-contenair {
    background: var(--background);
    height: auto;
    padding-bottom: 50px;

    h2 {
      text-align: center;

    }

    .restaurants-cards {
      height: auto;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      
      .heart-card {
        position: relative;
        bottom: 3.5rem;
        border: 0rem;
        right: -95%;
      }

      figure {
        overflow: hidden;
        max-width: 60rem;
        max-height: 25rem;
        border-radius: 2rem;
        flex-grow: 1;
        background: white;
        margin: 2rem 2rem;
        box-shadow: var(--shadowBlock);

        img {
          width: 100%;
          height: 18rem;
          border-radius: 2rem 2rem 0 0;
          object-fit: cover;
        }

        h4{
          padding-top: 1rem;
        }

        span{
          display:block;
        } 

        span,h4 {
         margin-left:2rem;
        }     
      }  
    }
  }
}

footer {
  background:#333;
  color: var(--text-b);
  height: 200px;
  width: 100%;

  section {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    text-align: start;
    margin-left: 10%;
    padding: 0;

    h4 {
      padding:2rem  0rem;
      font-family: var(--font-family-title);
      font-size: 2rem;
      font-weight: 300;
    }

    li {
      padding-left: 0rem;
      cursor: pointer;
      margin: 1rem 0rem;
      padding-right: 0rem;
      width: max-content;

      i {
        margin-right:1rem;

      }

      a {
        color: var(--text-b);       
      }
    }
  }
}